.message {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .message-input {
    width: 100%;
    line-height: 2;
    padding: 5px 10px;
    border-radius: 10px;
  }
  .message-bnt {
    margin-left: 20px;
    line-height: 2;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
  }
}
